<section id="page-title" class="page-title-center" ng-controller="MyCtrl" >
    <div class="row" >
        <div class="col-sm-8 col-sm-offset-2">
            <h1 class="mainTitle" >MA COMMANDE </h1>
            <!-- <span class="mainDescription">Themify Icons is a complete set of icons for use in web design and apps, consisting of 320+ pixel-perfect, hand-crafted icons that draw inspiration from Apple iOS 7</span>
            <input ng-model="search" class="form-control text-center margin-top-15" type="text" placeholder="Search {{icons.name}} icons...">
            <div ncy-breadcrumb></div> -->
        </div>
    </div>
</section>
<!-- start: YOUR CONTENT HERE -->
<!-- start: TABLE WITH FILTERS -->
<div class="container"  ng-controller="MyCtrl"  >
<!-- start: YOUR CONTENT HERE -->
<!-- <div class="row">
    <div class="col-md-12"> -->
        <!-- <h5 class="over-title margin-bottom-15">Responsive <span class="text-bold">Table</span></h5>
        <p>
            Create responsive tables by wrapping any <code>.table</code> in <code>.table-responsive</code> to make them scroll horizontally on small devices (under 768px). When viewing on anything larger than 768px wide, you will not see any difference in these tables.
        </p>
        <div class="alert alert-info">
            Please try to re-size your browser window in order to see the tables in responsive mode.
        </div> -->
        <!-- <div class="table-responsive">
            <table class="table table-bordered table-hover" id="sample-table-1" ng-init="MyAllBasketsX()">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Designation</th>
                        <th>Quantite</th>
                        <th>Montant</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in MyAllBasketsX track by $index">
                        <td>
                        <a href="#">
                            {{p.ID_PRODUIT}}
                        </a></td>
                        <td>{{p.DESIGNATION}}</td>
                        <td>{{p.QUANITE}}</td>
                        <td>{{p.MONTANT}}</td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-wide btn-success" ng-click = "">
                Print All
            </button>
        </div> -->
        <div ng-init="MyAllBasketsX()" id="allInvoices" >
            <div class="row">
                <div class="col-sm-12 invoice-block">
                    <ul class="list-unstyled amounts text-small">
                        <li>
                            <strong>Client:</strong> {{Myname}}
                        </li>
                        <li>
                            <strong>Nb Articles:</strong> {{MyNbArticles}}
                        </li>
                        <li>
                            <strong>TVA:</strong> 20%
                        </li>
                        <li class="text-extra-large text-dark margin-top-15">
                            <strong >Total:</strong> {{MyTotal}} DH
                        </li>
                    </ul>
                    <br>
                    <!-- <a onclick="pdfToHTML1()" class="btn btn-lg btn-primary hidden-print">
                        Imprimer <i class="fa fa-print"></i>
                    </a> -->
                    <!-- <a class="btn btn-lg btn-primary btn-o hidden-print">
                        Submit Your Invoice <i class="fa fa-check"></i>
                    </a> -->
                    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-striped"  >
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Produit </th>
                                <!-- <th class="hidden-480"> Description </th> -->
                                <th class="hidden-480"> Quantity </th>
                                <!-- <th class="hidden-480"> Unit Cost </th> -->
                                <th> Total </th>
                                <!-- <th> Recu</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in MyAllBasketsX track by $index">
                                <td> {{p.ID_PRODUIT}} </td>
                                <td> {{p.DESIGNATION}} </td>
                                <!-- <td class="hidden-480"> Drem psum dolor </td> -->
                                <td class="hidden-480"> {{p.QUANITE}} </td>
                                <!-- <td class="hidden-480">  </td> -->
                                <td> {{p.MONTANT}} DH</td>
                                <!-- <td>
                                    <button class="btn btn-success" ng-click="imprimer('lg',p);">
                                        Imprimer
                                    </button>
                                </td> -->
                            </tr>
                            
                        </tbody>
                    </table>
                    <div ng-controller="dynamicTableCtrl">
                        <button  ng-click="Ret()" class="btn btn-o btn-primary">Retour</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>