<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">Reserver pour un client</h1>
            <!-- <span class="mainDescription"></span> -->
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: YOUR CONTENT HERE -->
<div class="container">
           <!-- Reserver -->
                            <div class="container-fluid container-fullw ">
                                <div ng-controller="DatepickerDemoCtrl" class="row">
                                    <div ng-controller="dynamicTableCtrl" class="col-md-12">

                                        <h5 class="over-title">Mr :  <span class="text-bold">{{full}}</span> </h5> <span align="right" {{idclient}} > </span>
                                       <!--  <div </div> -->
                                        <p class="margin-bottom-30">
                                        </p>
                                        <div class="row">
                                            <form  ng-init="selectdate()">
                                                <!-- Debut table -->
                                                <!-- <table class="table table-bordered visible">
                                                    <tr>
                                                        <th>ID </th>
                                                    </tr>
                                                    <tr ng-repeat="x in dates track by $index">
                                                        <td>{{x.ID_DATE}}</td>
                                                    </tr>
                                                </table> -->
                                                <!-- Fin table -->
                                                <div class="col-md-6">
                                                    <fieldset>
                                                        <legend>
                                                            Articles
                                                        </legend>
                                                        <div class="form-group">
                                                            <label>
                                                                           Nombre d'articles <span class="symbol required"></span>
                                                                    </label>
                                                            <div class="form-group">
                                                                <input type="text" value="0" ng-model="nbrd" name="nbr" touchspin data-verticalbuttons="true" data-verticalupclass="ti-angle-up" data-verticaldownclass="ti-angle-down">
                                                            </div>

                                                        </div>
                                                    </fieldset>
                                                    <fieldset>
                                                        <legend>
                                                            Adresse de collecte
                                                        </legend>
                                                        <div class="form-group">
                                                            <label>
                                                                        Adresse
                                                                    </label>
                                                            <input type="text" class="form-control" placeholder="Adresse Complete" ng-model="adrz1">
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <!--  -->
                                                                <input type="text" id="google_canvas" class="form-control" name="prenom" value="{{myadress}}" placeholder="Localisez Moi">

                                                                <span class="input-group-btn">
                                                                                    <button type="button" class="btn btn-primary" ng-click="getadresse()">
                                                                                        <i class="fa fa-map-marker" ></i>
                                                                                    </button>
                                                                                 </span>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="form-group">
                                                            <div class="checkbox clip-check check-primary">
                                                                <input type="checkbox" id="checkbox6" value="1">
                                                                <label for="checkbox6">
                                                                                        Cochez Si La Meme Adresse Pour La Livraison
                                                                                    </label>
                                                            </div>
                                                        </div>
                                                        <div class="row">

                                                            <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label>
                                                                                Quartier
                                                                            </label>
                                                                                <select name="country" class="form-control">
                                                                                <option value="">&nbsp;</option>
                                                                                <option value="AL">Alabama</option>
                                                                                <option value="AK">Alaska</option>
                                                                                <option value="AZ">Arizona</option>
                                                                            </select>
                                                                            </div>
                                                                        </div>
                                                        </div>
                                               </fieldset> -->      
                                                   <!--  <fieldset>
                                                        <legend>
                                                            Adresse de Livraison
                                                        </legend>
                                                        <div class="form-group">
                                                            <label>
                                                                        Adresse
                                                                    </label>
                                                            <input type="text" class="form-control" placeholder="Adresse Complete">
                                                        </div>
                                                        <div class="row">

                                                            <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label>
                                                                                Quartier
                                                                            </label>
                                                                                <select name="country" class="form-control">
                                                                                <option value="">&nbsp;</option>
                                                                                <option value="AL">Alabama</option>
                                                                                <option value="AK">Alaska</option>
                                                                                <option value="AZ">Arizona</option>
                                                                            </select>
                                                                            </div>
                                                                        </div>
                                                        </div>--> 
                                                    </fieldset> 


                                                </div>
                                                <div class="col-md-6">
                                                    <fieldset>
                                                        <legend>
                                                            Date Collecte
                                                        </legend>
                                                        <div class="form-group">
                                                            <label> Jour </label>
                                                            <input type="text" id="dit1" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="inputopened" ng-init="inputopened = false" ng-click="inputopened = !inputopened" datepicker-options="datepickerOptions" ng-required="true" close-text="Close"
                                                            />

                                                            <!-- <button ng-click="dtclick()" class="btn btn-o btn-primary">date</button> -->
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Heure</label>
                                                            <uib-timepicker ng-model="timecmd" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
                                                        </div>

                                                    </fieldset>
                                                    <div align="right">
                                                        <button type="submit" ng-click="ResPourClient()" class="btn btn-o btn-primary">Reserver</button>

                                                    </div>

                                                    <!-- Lock Screen For Everyone  -->
                                                    <!-- <div align="right">
                                                        <button type="submit" ui-sref="login.lockscreen" class="btn btn-o btn-primary">LockScreen</button>

                                                    </div> -->
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>