<!-- start: PAGE TITLE -->
<section id="page-title" class="page-title-center">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h1 class="mainTitle">Commandes en attentes de confirmation</h1>
            <input ng-model="searchText" class="form-control text-center margin-top-15" type="text" placeholder="Rechercher une commande">
            <div ncy-breadcrumb></div>
        </div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: YOUR CONTENT HERE -->
<div class="container-fluid container-fullw ">
    <!-- <div ng-controller="DatepickerDemoCtrl" class="row"> -->
    <div ng-controller="dynamicTableCtrl" class="row">
        <div class="col-md-12">

            <div ng-init="getCmdWait()" class="table-responsive">
                <div class=" table-responsive">
                    <table class="table table-striped table-hover" id="sample-table-2">
                        <thead>
                            <tr>

                                <th>#</th>
                                <th>Nom et Prenom Client</th>
                                <th>Nombre d'articles</th>
                                <th class="hidden-xs">N° Telephone</th>
                                <th class="hidden-xs">Date et heure de collecte</th>
                                <th class="hidden-xs">Adresse Collecte </th>
                                <th class="hidden-xs">Heure de reservation </th>
                                <th><i class="fa fa-time"></i> Modifier </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in CmdWait | filter:searchText ">
                                <td>{{x.ID_COMMANDE}}</td>
                                <td>{{x.NOM_CLIENT }} {{x.PRENOM_CLIENT}}</td>
                                <td>{{x.NBR_ARTICLES}}</td>
                                <td class="hidden-xs">{{x.TELEPHONE_CLIENT}}</td>
                                <td class="hidden-xs">{{x.DD_COMMANDE}}</td>
                                <td class="hidden-xs">{{x.Adresse_Complete_Collect}}</td>
                                <td class="hidden-xs">{{x.DATE_C_RES}}</td>
                                <td>

                                    <div class="visible-md visible-lg visible-sm visible-xs">
                                        <a ng-click="openAside('left',$index)" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="Modifier"><i class="fa fa-gear "></i></a>
                                        <a ng-click="demo5(x)" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="Confirmer"><i class="fa fa-check"></i></a>
                                        <a ng-click="RemoveCmd(x)" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="Supprimer"><i class="fa fa-close"></i></a>
                                        <!-- <a ng-click="check(x)" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="Confirmer"><i class="fa fa-check"></i></a> -->
                                    </div>


                                    <!-- Script du Modal -->
                                    <script type="text/ng-template" id="asideContent.html">
                                        <div class="modal-header">
                                            <h3 class="modal-title">Modification du temps</h3>
                                        </div>
                                        <!-- invite du controller DatePickerDemoCtrl pour ajouter le fonctionnement de la date et l'heure -->

                                        <div ng-controller="dynamicTableCtrl">
                                            <div class="modal-body">

                                                <input type="text" id="dit1" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dtt" is-open="inputopened" ng-init="inputopened = false" ng-click="inputopened = !inputopened" datepicker-options="datepickerOptions" ng-required="true" close-text="Close"
                                                />
                                                <uib-timepicker ng-model="hrr" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>

                                            </div>
                                            <!-- invite du controller dynamictabctrl pour confirmer la modification grace a la fonction UpdateDate() -> OK   -->
                                            <div class="modal-footer">
                                                <button class="btn btn-primary" ng-click="dtclick($index)">OK</button>
                                                <button class="btn btn-primary" ng-click="cancel($event)">Annuler</button>
                                            </div>
                                            <div>
                                    </script>

                                    <!-- <button type="button" class="btn btn-primary btn-block btn-scroll btn-scroll-top ti-arrow-left" ng-click="openAside('left',$index)">
									<span>Modifier</span>
								</button> -->
                                    <!-- </div> -->
                                    <!-- </td> -->
                                    <!-- Button confirmer pour modifier le statut de la commande à confirmé -->
                                    <!-- <td>
                                    <div class="center">
                                        <button type="button" ng-click="demo5($index)" class="btn btn-wide btn-success">
                                        Confirmer
                                    </button> -->
                                    <!-- button confirmé avec le script  -->
                                    <!-- </div>
 -->
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    </div>
                    </div>
                </div>
            </div>
            <!-- </div> -->

        </div>


        <!-- end: YOUR CONTENT HERE -->-