<!-- start: LOCK SCREEN -->
<div class="row">
	<div class="lock-screen">
		<div  ng-controller="SparklineCtrl" class="box-ls">
			<img alt="" src="assets/images/avatar-1-xl.jpg" class="img-rounded"/>
			<div class="user-info">
				<h4>{{userC}}</h4>
				<h5 class="text-bold">{{userR}}</h5>
				<form>
					<div ng-controller="LoginCtrl" class="input-group">
						<input type="password" ng-model="passwd" placeholder="Password to unlock" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-primary" ng-click="LockedScreen()">
								<i class="fa fa-chevron-right"></i>
							</button> </span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- end: LOCK SCREEN -->