<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle" translate="sidebar.nav.tables.DYNAMIC">DYNAMIC TABLES</h1>
			<span class="mainDescription">Rremove/delete a table row dynamically</small></span>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: Nouveau Professeur -->
<div ng-controller="TabsDemoCtrl">
	<div class="container-fluid container-fullw bg-white">
		<div class="row">
			<div class="col-md-12">
				<h5 class="over-title margin-bottom-15">Togglable <span class="text-bold">Tabs</span></h5>
				<p>
					Add quick, dynamic tab functionality to transition through panes of content, even via dropdown menus.
				</p>
				<uib-tabset class="tabbable">
					<uib-tab heading="Nouveau Professeur">
						<h4>Nouveau Professeur</h4>
						<!--Debut Table -->
						<div class="container-fluid container-fullw bg-white">
							<div class="row">
								<div class="col-md-12">
									
									<!-- /// controller:  'ValidationCtrl' -  localtion: assets/js/controllers/validationCtrl.js /// -->
									<div ng-controller="ValidationCtrl">
										<form name="Form" id="form1" novalidate ng-submit="form.submit(Form)">
											<div class="row">
												<div class="col-md-6">
													<fieldset>
														<legend>
															Nouveau Professeur
														</legend>
														<div flow-init="{singleFile:true}" flow-name="obj.flow" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
																	<div class="user-image">
																		<div class="thumbnail">
																			<img src="assets/images/default-user.png" alt="" ng-if="!obj.flow.files.length && noImage">
																			<img ng-src="{{userInfo.avatar}}" alt="" ng-if="!obj.flow.files.length && !noImage">
																			<img flow-img="obj.flow.files[0]" ng-if="obj.flow.files.length">
																		</div>
																		<div class="user-image-buttons" ng-if="obj.flow.files.length">
																			<span class="btn btn-primary" flow-btn><i class="fa fa-pencil"></i></span>
																			<span class="btn btn-danger" ng-click="obj.flow.cancel()"> <i class="fa fa-times"></i> </span>
																		</div>
																		<div class="user-image-buttons" ng-if="!obj.flow.files.length">
																			<span class="btn btn-primary" flow-btn><i class="fa fa-pencil"></i></span>
																			<span class="btn btn-danger" ng-if="!noImage" ng-click="removeImage()"><i class="fa fa-times"></i></span>
																		</div>
																	</div>
																</div>
														<div class="form-group" ng-class="{'has-error':Form.Nom.$dirty && Form.Nom.$invalid, 'has-success':Form.Nom.$valid}">
															<label class="control-label">
																Nom <span class="symbol required"></span>
															</label>
															<input type="text" placeholder="Enter your First Name" class="form-control" name="Nom" ng-model="myModel.Nom" required />
															<span class="error text-small block" ng-if="Form.Nom.$dirty && Form.Nom.$invalid">Votre Nom est obligatoire</span>
															<span class="success text-small" ng-if="Form.Nom.$valid">Thank You!</span>
														</div>
														<div class="form-group" ng-class="{'has-error':Form.Prenom.$dirty && Form.Prenom.$invalid, 'has-success':Form.Prenom.$valid}">
															<label class="control-label">
																Prenom <span class="symbol required"></span>
															</label>
															<input type="text" placeholder="Enter your Last Name" class="form-control" name="Prenom" ng-model="myModel.Prenom" required />
															<span class="error text-small block" ng-if="Form.Prenom.$dirty && Form.Prenom.$invalid">Votre Prenom est obligatoire</span>
															<span class="success text-small" ng-if="Form.Prenom.$valid">Prenom valide!</span>
														</div>
														<div class="form-group">
															<label> Date d'embauche </label>
															<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt1" is-open="inputopened" ng-init="inputopened = false" id="datembauche" ng-click="inputopened = !inputopened" datepicker-options="datepickerOptions" ng-required="true" close-text="Close" />
														</div>
														<div class="form-group" ng-class="{'has-error':Form.gender.$dirty && Form.gender.$invalid, 'has-success':Form.gender.$valid}">
															<label class="control-label block">
																Sexe <span class="symbol required"></span>
															</label>
															<div class="clip-radio radio-primary">
																<input type="radio" id="wd-femme" name="gender" value="femme" ng-model="myModel.gender" required>
																<label for="wd-femme">
																	femme
																</label>
																<input type="radio" id="wd-homme" name="gender" value="homme" ng-model="myModel.gender" required>
																<label for="wd-homme">
																	homme
																</label>
															</div>
															<span class="error text-small block" ng-if="Form.gender.$dirty && Form.gender.$error.required">Sexe est obligatoire.</span>
															<span class="success text-small block" ng-if="Form.gender.$valid && form.gender == 'homme'">Thank You, Mr. {{form.Prenom}}!</span>
															<span class="success text-small block" ng-if="Form.gender.$valid && form.gender == 'femme'">Thank You, Mrs. {{form.Prenom}}!</span>
														</div>
														
														<div class="form-group" ng-class="{'has-error':Form.filliere.$dirty && Form.filliere.$invalid, 'has-success':Form.filliere.$valid}">
															<label for="form-field-select-1">
																Filliere Professeur <span class="symbol required"></span>
															</label>
															<select class="form-control" name="filliere" ng-model="myModel.filliere" required>
																<option value="">Choisissez une filliere</option>
																<option value="AL">IAII</option>
																<option value="AK">IRT</option>
																<option value="AZ">GC BTP</option>
																<option value="AR">GI</option>
																<option value="AR">IIR</option>
																<option value="AR">IFA</option>
														
															</select>
															<span class="error text-small block" ng-if="Form.filliere.$dirty && Form.filliere.$error.required">filliere is required.</span>
															<span class="success text-small block" ng-if="Form.filliere.$valid">Filliere choisie!</span>
														</div>
														<div class="form-group">
															<label> Date de Naissance </label>
															<input type="text" class="form-control" id="datenaissance" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="inputopened" ng-init="inputopened = false" ng-click="inputopened = !inputopened" datepicker-options="datepickerOptions" ng-required="true" close-text="Close" />
														</div>
													</fieldset>

													
												</div>
												<div class="col-md-6">
													<fieldset>
														<legend>
															Contact
														</legend>
														<div class="form-group" ng-class="{'has-error':Form.email.$dirty && Form.email.$invalid, 'has-success':Form.email.$valid}">
															<label class="control-label">
																Adresse Email <span class="symbol required"></span>
															</label>
															<input type="email" placeholder="Enter a valid E-mail" class="form-control" name="email" ng-model="myModel.email" required>
															<span class="error text-small block" ng-if="Form.email.$dirty && Form.email.$error.required">Votre Adresse email est obligatoire</span>
															<span class="error text-small block" ng-if="Form.email.$error.email">S'il vous plait, Entrez une adresse email valide</span>
															<span class="success text-small" ng-if="Form.email.$valid">C'est une adresse valide!</span>
														</div>
														<div class="form-group" style="width: 100% !important">

															<label for="control-label">
																Telephone 
															</label>
															<div class="input-group">
																<span class="input-group-addon"> <i class="fa fa-phone"></i> </span>
																<input style="width: 100%" type="text" class="form-control" name="masked" placeholder="(999) 999-9999" ui-mask="(999) 999-9999"  ng-model="x">
															</div>
														</div>
													</fieldset>
												
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="pull-right">
														<button type="submit" class="btn btn-primary">
															Ajouter Professeur
														</button>
														<button type="reset" class="btn btn-primary btn-o" ng-click="form.reset(Form)">
															Vider
														</button>
														<button class="btn btn-default" ng-click="form.$valid">
															Verification 
														</button>
													</div>
												</div>
											</div>
											<!--provisoire pour verification -->
											<pre class="margin-top-20">{{ myModel | json }}</pre>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!--Fin Table -->	
					</uib-tab>
<!-- end: Nouveau Professeur -->
					
					<uib-tab heading="Details Professeur">
						<h4>Details Professeur</h4>
						<!--Debut Table -->
							<!-- start: INLINE EDIT EXAMPLE -->
<div class="container-fluid container-fullw">
	<div class="row">
		<div class="col-md-12">
			<h5 class="over-title margin-bottom-15"><span class="text-bold">Listes Des Etudiants</span></h5>
			<!-- /// controller:  'ngTableCtrl6' -  localtion: assets/js/controllers/ngTableCtrl.js /// -->
			<div ng-controller="ngTableCtrl6">
				<div class="row margin-bottom-10">
					<div class="col-md-12">
						<button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">
							Clear sorting
						</button>
					</div>
				</div>
				<strong>Trier:</strong> {{tableParams.sorting()|json}}
				<div class="table-responsive">
					<table ng-table="tableParams" class="table">
						<tbody ng-repeat="p in $data">
							<tr id="tr{{p.id}}" ng-class-odd="'odd'" ng-class-even="'even'">
								<td class="rowTd" data-title="'ID'"          sortable="'id'">{{p.id}}</td>
								<td class="rowTd" data-title="'Prenom'"   sortable="'fn'">{{p.fn}}</td>
								<td class="rowTd" data-title="'Nom'"    sortable="'ln'">{{p.ln}}</td>
								<td class="rowTd" data-title="'Classe'" sortable="'dc'">{{p.dc}}</td>
								<td class="rowTd" data-title="'Email'"       sortable="'em'">{{p.em}}</td>
								<td class="rowTd" data-title="'Telephone'"       sortable="'ph'">{{p.ph}}</td>
								<td class="rowTd" >
								<div class="pull-right margin-right-10">
									<input type=button class="btn btn-primary btn-o btn-sm" id="editRowBtn{{p.id}}" value="edit"
									ng-click="setEditId(p.id)">
								</div></td>
							</tr>
							<tr ng-show="editId===p.id" ng-if="editId===p.id">
								<td colspan="7" ng-include src="'assets/views/editRow.html'"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end: INLINE EDIT EXAMPLE -->
						<!--Fin Table -->	
					</uib-tab>
					<!--Fin Tab -->

